body{
	font-family: Ubuntu, sans-serif;
}
#success_message{ display: none;}
.imagen_chiquilla{
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .imagen_chiquilla{
        width: 75%;
        margin-top: 5px;
    }

}