body{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}

h3{
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-weight: normal; 
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.title-shadow{
    text-shadow: 1px 1px #dddddd;
}
.title-h {
    border-bottom: medium double #0036BA;  
    box-shadow: 0 4px 2px -2px gray;
}

.imagen-resaltado{
    position: absolute;
    top: -30px;
    right: -10px;
    max-height: 55px;
}
.color-turquesa{
    color: #00ACA2;
}

.color-rojo{
    color: #EE2E24;
}

.color-azul{
    color: #009DDC;
}

.color-naranja{
    color: #F8981D;
}

.titulo-recuadro{
    padding-top: 15px;
    font-weight: 600;
    text-shadow: 1px 1px #dddddd;

}

.recuadro-gris{
    position: relative;    
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
}

.recuadro-blanco{
    margin-top: 35px;
    position: relative;    
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
}
.recuadro-blanco p::first-letter{
    margin-left: 15px;
}

p::first-letter{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    padding-right: 0.5px;
}

.padding-lr-cero{
    padding-left: 0;
    padding-right: 0;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    color: #FFF;
}
#map {
    width: 100%;
    height: 250px;
}
.titulo-blue{
    color: #0036B2;
}
.borde-eca{
    border-style: solid;
    border-width: 10px;
    border-color: rgba(111,111,111,0.1);
}
.shadow-text{
    text-shadow: 1px 1px #333333;
}

.titulo-over {

    width: 100%;
    height: 100%;
    position: absolute;
    top:30px;
    left: 0;
}

.thumbnail-eca{
    position:relative;

    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    /* background-color: #ffffff; */
    /* border: 1px solid #dddddd; */
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

#intro{
    margin-top: 50px;
}

.no-padding{
    padding: 0;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */

    color: #eeeeee;
    font-weight: 900;
    text-shadow: 1px 4px 6px #111, 0 0 0 #555, 1px 4px 6px #111;
}

.img-gray {
    filter: white; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

}

/* Disable grayscale on hover */
.img-gray:hover {
    filter: none;
    /*color: #69F160;*/
    -webkit-filter: grayscale(0);
}

.backgroud-eca{
    background-color: #CC8F00;
}
.font-white{
    color: white;
}

.li-flash {
    background: url(../img/bullet.png) no-repeat left top;
    padding: 0px 0px 10px 20px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.padding-centro{
    padding-bottom: 15px;
    padding-top: 15px;
}
.padding-centro-10{
    padding-bottom: 10px;
    padding-top: 10px;
}
.padding-top-15{
    padding-top:15px; 
}
.padding-bottom-15{
    padding-bottom: 15px; 
}
.mayuscula{  
    text-transform: uppercase;  
}  
.info-back h2 {
    font-family: inherit;
    color: #fff;
    /*text-transform: uppercase;*/
    position: relative;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0 30px;
    padding: 55px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}


#success_message{ display: none;}
.imagen_chiquilla{
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .imagen_chiquilla{
        width: 75%;
        margin-top: 5px;
    }

}


